.snackbar-success {
  background-color: #388e3c; /* Green */
  color: #fff;
}

.snackbar-error {
  background-color: #d32f2f; /* Red */
  color: #fff;
}

.snackbar-warning {
  background-color: #f57c00; /* Orange */
  color: #fff;
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  
  /* Use the dark theme background */
  background-color: #9cb1c4;
  font-family: 'Inter', sans-serif;
}